@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #a9cada;
  --secondary-color: teal;
}

body {
  background-color: var(--secondary-color);
  font-family: "Anton", sans-serif;
  margin: 0;
}

.header {
  padding: 1.5rem;
  display: flex;
  justify-content: flex-end;
  background-color: var(--secondary-color);
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1.5rem;
  padding: 0.5rem 1.5rem;
  color: white;
}

.search::placeholder {
  color: steelblue;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

.main {
  display: flex;
  flex-wrap: wrap;
}

.movie {
  box-shadow: 0 5px 6px 3px rgb(3 100 111);
  background-color: var(--secondary-color);
  margin: 1rem;
  overflow: hidden;
  margin: 1rem;
  width: 300px;
}

.movie img {
  width: 100%;
}

.movie-info {
  align-items: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  letter-spacing: 0.5px;
  padding: 10px 15px 15px;
}

h3 {
}

.movie-info span {
  background-color: var(--primary-color);
  border-radius: 10px;
  font-weight: bold;
  padding: 3px 8px;
}

.movie-info span.green {
  color: green;
}

.movie-info span.orange {
  color: orange;
}

.movie-info span.red {
  color: red;
}

.movie:hover .overview {
  transform: translateY(0);
}

.overview {
  background-color: snow;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  padding: 15px;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
  overflow-y: auto;
}
